.card {
	display: flex;
	padding: 5px;
}

.thumbnail {
	background-color: lightgrey;
	margin-right: 10px;
}

.wrapper {
	/* min-width is necessairy for overflow to work with flexbox */
	min-width: 0;
}

.wrapper.noWrap > .title, .wrapper.noWrap > .channelTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.channelTitle {
	font-size: smaller;
	padding: 5px;
}