.card {
	display: flex;
	padding: 5px;
}

.thumbnail {
	height: 75px;
	margin-right: 10px;
}

.wrapper {
	/* min-width is necessairy for overflow to work with flexbox */
	min-width: 0;
}

.title, .channelTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.channelTitle {
	font-size: smaller;
}