.item {
	cursor: pointer;
	padding: 5px;
	background: white;
	color: black;
	border-radius: 3px;
	margin: 5px;
}

.item:hover {
	background: #eee;
}

.spinner {
	position: absolute;
	top: 3em;
	width: 100%;
}

.spinner ~ .item {
	opacity: 0.25;
}