{
	"parser": "babel-eslint",
	"extends": "eslint-config-airbnb",
	"rules": {
		"indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-no-bind": 1,
		"no-param-reassign": 1,
		"strict": 0,
	}
}
