<!DOCTYPE html>
<html>
<head>
	<title>tjube.ninja | about</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<style>
		* {
			margin: 0px;
			padding: 0px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		body {
			background-color: #000;
			color: #FFF;
			font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
			width: 100%;
			margin-bottom: 40px;
		}
		#wrapper {
			width: 60%;
			margin: 0 auto;
		}
		
		#wrapper>video {
			border: 1px solid white;
			width: 100%;
			max-width: 1000px;
		}
	</style>
</head>
<body>
	<div id="wrapper">
		<h1>How to use Tjube.Ninja</h1>
		<br>
		
		<h2>How to add a video from the main screen</h2>
		<video autoplay loop>
			<source src="/webm/addvideo.webm" type="video/webm">
		</video>
		<p>
			Move your mouse to the right side of the screen.
			You can now use the searchbar on the top to search for youtube videos.
			Click on search results to add them to the playlist.
			When you are done click the x next to the searchbar to minimize the search results window.
		</p>
		<br>
		
		<h2>How to manage your playlist</h2>
		<video autoplay loop>
			<source src="/webm/managevideo.webm" type="video/webm">
		</video>
		<p>
			Move your mouse to the right side of the screen to expand the playlist.
			Hover over a song to show the controls, press the x button to delete it or drag it up and down to reorganize the playlist.
		</p>
		<br>
		
		<h2>How to skip a video</h2>
		<video autoplay loop>
			<source src="/webm/skipvideo.webm" type="video/webm">
		</video>
		<p>
			Click on the title of the next video on the top left of the main screen to skip to the next video.
		</p>
		<br>
		
		<h2>How to use the remote to add videos</h2>
		<video autoplay loop>
			<source src="/webm/remote.webm" type="video/webm">
		</video>
		<p>
			Go to <b>/add/<i>your_room_number_here</i></b> to view the remote.
			The room number can be found in the bottom left corner of the main screen.
			Use the searchbar on the remote screen to search for videos.
			Click on the search results to add them to the playlist.
		</p>
		
	</div>
</body>
</html>