<!DOCTYPE html>
<html>
<head>
	<title>tjube.ninja | {{ view }}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/{{ view }}.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<div id="app"></div>
	
	<script>
		const room = "{{ room }}";
	</script>
	<script src="/js/{{ view }}.js"></script>
</body>
</html>
