<!DOCTYPE html>
<html>
<head>
	<title>tjube.ninja | {{ view }}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/{{ view }}.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<noscript>
		<h1>This page requires JavaScript to be enabled.</h1>
		<p>This web app uses JavaScript to display a YouTube Player, make web requests and communicate with the server.</p>
		<p>If you would like to enable JavaScript but don't know how, instructions for your browser can be found on <a href="http://www.enable-javascript.com/">enable-javascript.com</a></p>
	</noscript>

	<div id="not-supported">
		<h1>This page does not support your screen.</h1>
		<p>If you want to visit this page make sure to orient your screen landscape.</p>
	</div>

	<div id="app"></div>
	
	<script>
		window.room = '{{ room }}';
	</script>
	<script src="/{{ view }}.js"></script>
</body>
</html>
