* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	background: #000;
	color: #FFF;
}

a {
	color: white;
}

.pointer {
	cursor: pointer;
}

#player {
	height: 100vh;
	width: 100vw;
}

#player.fill {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 56.25vw;
	min-height: 100vh;
	min-width: 177.78vh;
}

#title-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
}

#title {
	font-size: 1.2rem;
}

#subtitle {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 1rem;
	opacity: 0.75;
}

#subtitle.skip-video {
	cursor: pointer;
}

#subtitle.skip-video::before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f051";
	margin-right: 10px;
}

#subtitle.skip-video:hover {
	opacity: 1;
}

#search {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25%;
}

#search-bar {
	height: 20px;
	opacity: .75;
}

#playlist, #search-results {
	max-height: calc(100vh - 20px);
	overflow: auto;
	background-color: rgba(0,0,0,.25);
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
}

.play-list-item,.search-results-item {
	box-sizing: border-box;
	height: 50px;
	padding: 5px;
	border-bottom: 1px solid #FFF;
}

.search-results-item:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,.2);
}

.play-list-item .button-wrapper {
	top: 15px;
	right: 0px;
}

#playlist {
	position: absolute;
	top: 20px;
	right: 0px;
	width: 7%;
	opacity: .5;
	transition: width 250ms, opacity 250ms;
}

#playlist:hover {
	width: 25%;
	opacity: 1;
}

#playlist .play-list-item>* {
	display: none;
}

#playlist:hover .play-list-item>*  {
	display: block;
}

#progress-bar {
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 20px;
}

#progress-bar .progress {
	position: absolute;
	background: #F00;
	bottom: 0px;
	height: 25%;
	transition: height 250ms;
}

#progress-bar:hover .progress {
	height: 50%;
}

#player-button-wrapper {
	position: absolute;
	left: 10px;
	bottom: 20px;
	opacity: 0.75;
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
}

#player-button-wrapper > * {
	margin-right: 10px;
}

.fade-enter, .fade-appear {
	opacity: 0;
	transition: opacity 500ms;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
	opacity: 1;
}

.fade-leave {
	opacity: 1;
	padding: 5px;
	height: 50px;
	transition: opacity 250ms, height 250ms ease 250ms, padding 250ms ease 250ms;
}

.fade-leave.fade-leave-active {
	opacity: 0;
	padding: 0px;
	height: 0px;
}
