* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	background: #000;
	color: #FFF;
}

.pointer {
	cursor: pointer;
}

#player {
	height: 100vh;
	width: 100vw;
}

#player.fill {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 56.25vw;
	min-height: 100vh;
	min-width: 177.78vh;
}

#title-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
}

#title {
	font-size: 1.2rem;
}

#subtitle {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 1rem;
	opacity: 0.75;
}

#search {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
}

#search-bar {
	height: 20px;
}

#playlist, #search-results {
	max-height: calc(100vh - 20px);
	overflow: auto;
}

.video-list-item {
	padding: 5px;
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
	background-color: #000;
	border-bottom: 1px dotted #FFF;
}

#search-results .video-list-item {
	cursor: pointer;
}

.video-list-item .button-wrapper {
	float: right;
	position: relative;
	top: -10px;
}

.video-list-item .button-wrapper > span {
	cursor: pointer;
	margin-right: 10px;
}

#playlist {
	position: absolute;
	top: 20px;
	right: 0px;
	width: 300px;
}

#playlist>.video-list-item:nth-child(1) .delete-button .fa-times:before {
	content: "\f051"; /* fa-step-forward */
}

#playlist>.video-list-item:nth-child(-n+2) .play-next-button {
	display: none;
}

#progress-bar {
	position: fixed;
	bottom: 0px;
	width: 100vw;
}

#player-button-wrapper {
	position: absolute;
	left: 10px;
	bottom: 20px;
	opacity: 0.75;
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
}

#player-button-wrapper > * {
	margin-right: 10px;
}