* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background: #000;
	color: #FFF;
}

#player {
	height: 100vh;
	width: 100vw;
}

#player.fill {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 56.25vw;
	min-height: 100vh;
	min-width: 177.78vh;
}

#search {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 300px;
}

#searchbar {
	height: 20px;
}

#playlist {
	position: absolute;
	top: 10px;
	right: 10px;
	max-width: 250px;
}