.searchbar {
	position: relative;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	color: black;
	background: white;
	padding: 5px;
	margin: 2px;
	border-radius: 3px;
}

.label, .button {
	align-self: center;
	cursor: pointer;
	padding: 0px 5px;
}

.input {
	align-self: center;
    height: 100%;
	width: 100%;
	margin: 0px 5px;
	font-size: inherit;
	border: none;

	&:focus {
		outline: none;
	}
}
