:global {
	.dialogs {
		&-enter {
			opacity: 0;
			transition: opacity 250ms;
		}

		&-enter-active {
			opacity: 1;
		}

		&-leave {
			opacity: 1;
			transition: opacity 250ms;
		}

		&-leave-active {
			opacity: 0;
		}
	}

	.playlist {
		&-enter, &-appear {
			opacity: 0;
			transition: opacity 500ms;
		}

		&-enter-active, &-appear-active {
			opacity: 1;
		}

		&-leave {
			transition: opacity 250ms, height 250ms ease 250ms, padding 250ms ease 250ms;
		}

		/* using !important to prevent specificity issues */
		&-leave-active {
			opacity: 0;
			padding: 0px !important;
			height: 0px !important;
		}
	}

	.toaster {
		&-enter {
			opacity: 0;
			transition: opacity 500ms;
		}

		&-enter-active {
			opacity: 1;
		}

		&-leave {
			transition: opacity 500ms;
		}

		&-leave-active {
			opacity: 0;
		}
	}
}
