:global {
	.fade-enter {
		opacity: 0.01;
	}

	.fade-enter.fade-enter-active {
		opacity: 1;
		transition: opacity 250ms ease-in;
	}

	.fade-exit {
		opacity: 1;
	}

	.fade-exit.fade-exit-active {
		opacity: 0.01;
		transition: opacity 250ms ease-in;
	}

	/* Playlist transitions */
	.playlist-enter, .playlist-appear {
		opacity: 0;
	}

	.playlist-enter.playlist-enter-active, .playlist-appear.playlist-appear-active {
		opacity: 1;
		transition: opacity 500ms ease-in;
	}

	.playlist-exit {
		opacity: 1;
	}

	/* using !important to prevent specificity issues */
	.playlist-exit.playlist-exit-active {
		opacity: 0;
		padding: 0px !important;
		height: 0px !important;
		transition: opacity 250ms ease-in, height 250ms ease-in 250ms, padding 250ms ease-in 250ms;
	}

}
