.toaster {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.dialogs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.searchResults {
	max-height: calc(100vh - 35px);
	overflow-y: auto;
}

@media (max-width: 900px) {
	.searchBar {
		height: 40px;
	}

	.searchResults {
		max-height: calc(100vh - 45px);
	}
}

:global {
	#app {
		position: absolute;
		left: 25%;
		width: 50%;
		height: 100%;
	}

	@media (max-width: 900px) {
		#app {
			left: 0px;
			width: 100%;
		}
	}
}