.headline {
	text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
	white-space: nowrap;
}

.title, .subtitle {
	overflow: hidden;
	text-overflow: ellipsis;	
}

.subtitle {
	margin-left: 10px;
	opacity: 0.75;
}

.subtitle.skipVideo {
	cursor: pointer;
}

.subtitle.skipVideo::before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f051";
	margin-right: 10px;
}

.subtitle.skipVideo:hover {
	opacity: 1;
}